WHOperation/Web References/WebReference/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetTable_n">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="inSystem" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="inTable" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="inWhere" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTable_nResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTable_nResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSetTable">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="inSystem" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="inTable" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="inWhere" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="inXML" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSetTableResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetTable">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="inSystem" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="inTable" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="inWhere" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTableResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTableResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSQLTable">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="inSystem" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="inDB" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="inUser" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="inTable" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="inWhere" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSQLTableResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSQLTableResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetTable_nSoapIn">
    <wsdl:part name="parameters" element="tns:GetTable_n" />
  </wsdl:message>
  <wsdl:message name="GetTable_nSoapOut">
    <wsdl:part name="parameters" element="tns:GetTable_nResponse" />
  </wsdl:message>
  <wsdl:message name="GetSetTableSoapIn">
    <wsdl:part name="parameters" element="tns:GetSetTable" />
  </wsdl:message>
  <wsdl:message name="GetSetTableSoapOut">
    <wsdl:part name="parameters" element="tns:GetSetTableResponse" />
  </wsdl:message>
  <wsdl:message name="GetTableSoapIn">
    <wsdl:part name="parameters" element="tns:GetTable" />
  </wsdl:message>
  <wsdl:message name="GetTableSoapOut">
    <wsdl:part name="parameters" element="tns:GetTableResponse" />
  </wsdl:message>
  <wsdl:message name="GetSQLTableSoapIn">
    <wsdl:part name="parameters" element="tns:GetSQLTable" />
  </wsdl:message>
  <wsdl:message name="GetSQLTableSoapOut">
    <wsdl:part name="parameters" element="tns:GetSQLTableResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="GetTable_n">
      <wsdl:input message="tns:GetTable_nSoapIn" />
      <wsdl:output message="tns:GetTable_nSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSetTable">
      <wsdl:input message="tns:GetSetTableSoapIn" />
      <wsdl:output message="tns:GetSetTableSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTable">
      <wsdl:input message="tns:GetTableSoapIn" />
      <wsdl:output message="tns:GetTableSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSQLTable">
      <wsdl:input message="tns:GetSQLTableSoapIn" />
      <wsdl:output message="tns:GetSQLTableSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTable_n">
      <soap:operation soapAction="http://tempuri.org/GetTable_n" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSetTable">
      <soap:operation soapAction="http://tempuri.org/GetSetTable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTable">
      <soap:operation soapAction="http://tempuri.org/GetTable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSQLTable">
      <soap:operation soapAction="http://tempuri.org/GetSQLTable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTable_n">
      <soap12:operation soapAction="http://tempuri.org/GetTable_n" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSetTable">
      <soap12:operation soapAction="http://tempuri.org/GetSetTable" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTable">
      <soap12:operation soapAction="http://tempuri.org/GetTable" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSQLTable">
      <soap12:operation soapAction="http://tempuri.org/GetSQLTable" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://142.2.70.99/mfgpgm/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://142.2.70.99/mfgpgm/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>